body {
  background-color: #333;
  color: #fff;
  text-align: center;
}

@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

/* ============Enter URL Page ================= */
label{
  display: block;
  margin: 0, auto;
  margin-bottom: 1em;
}

#url {
  margin-right: 1em;
}
/* ============End Enter URL Page ================= */

/* =======Speech Bubbles========== */
/* width needs to be the same as the youtube video */
.speech-wrapper{
  color: #232425;
  width: 640px;
  text-align: center;
  position: absolute;
  top: 0;
}

.bubble{
  background-position: center;
  display: inline-block;
  position: relative;
  min-width: 170px;
  background-repeat: no-repeat !important;
}

.speech{
  font-family: SequentialistBB, cursive; 
  font-size: 2em;
}

.top-right{
  margin: 10px -340px 0 0;
}

.top-right-speech, .top-left-speech{
  padding: .5em 1em 2em 1em;
}

.top-left{
  margin: 10px 340px 0 0;
}

.middle-right{
  margin: 130px -340px 0 0;
  min-width:220px;
}

.middle-right-speech {
  padding: .6em 1em .8em 0;
  margin-left: 2.5em;
}

.middle-left{
  margin: 130px 340px 0 0;
  min-width:220px;
}

.middle-left-speech{
  padding: .6em 0em .8em 1em;
  margin-right: 2.5em;
}

.bottom-right{
  margin: 220px -340px 0 0;
}

.bottom-right-speech, .bottom-left-speech{
  padding: 1.8em 1em .8em 1em;
}

.bottom-left{
  margin: 220px 340px 0 0;
}

/* =======End Speech Bubbles========== */